html,
* {
  box-sizing: border-box;
}

html {
  --main-bg-color: #ffffff;
  font-family: "Barlow", sans-serif;
}

body {
  background-image: url(assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 7rem;
}

.lagos{
  background-color: rgba(255, 255, 255, 0.241);
  height: 4.5rem;
  text-align: center;
  line-height: 2rem;
}

div.logo {
    display: flex;
    gap: 3rem;
    align-items: center;

    .hr{
      color: #D0D6F9;
    }
}

.hr {
  width: 45rem;
  opacity: 0.4;
}

ul{
    margin-right: 5rem;
}

/* ul{
    padding: 2rem;
    background-color: #ffffff;
    opacity: .2;
} */

ul,
li {
  display: flex;
  gap: 1.5rem;
  color: var(--main-bg-color);

}

ul,
a {
    position: relative;
  color: var(--main-bg-color);
  text-decoration: none;
  color: #D0D6F9;
  span {
    margin-right: 0.5rem;
    color: var(--main-bg-color);
  }
}

section {
  display: flex;
  align-items: center;
  color: var(--main-bg-color);
  margin-top:5rem;
  margin-left: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 6rem ;
}

h4 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #D0D6F9;
}

h1 {
  font-size: 7rem;
  font-weight: bolder;
  margin-top: -.05rem;
  letter-spacing: 0.2rem;
  font-family: "Bellefair";
}

p {
  width: 35%;
  margin-top: -5rem;
  line-height: 1.6rem;
  font-weight: 100;
  font-size: 14px;
  color: #D0D6F9;
}

.right {
  margin-right: 12rem;
  margin-top: 16rem;
}

.man{
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    background-color: white;
    font-family: "Bellefair", serif;
}

a:after{
   content: "";
   position: absolute;
   background-color: var(--main-bg-color);
   height: 3px;
   width: 0%;
   left: 0;
   bottom: -20px;
   transition: 0.3s;
}

a:hover{
    color: var(--main-bg-color);
}
a:hover:after{
    width: 100%;
}

.des-body{
  background-image: url(assets/destination/background-destination-desktop.jpg);
}

.des-sec{
  display: flex;
  justify-content:space-between;
  gap: 20rem;
  margin-top: 0.5rem;
}

.des-left{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-left: 6rem;
}

.des-h2{
  font-weight: 400;
  word-spacing: 0.5rem;
}

.des-h2>span{
  color: #D0D6F9;
  opacity: 0.4;
  margin-right: 1.5rem;
}

.des-img{
  margin-left: 2.5rem;
  margin-top: -0.3rem;
}

.des-right{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

nav >.des-ul{
  margin-left: -5rem;
  margin-top: 6rem;
}

des-h1{
  font-family: "Bellefair", serif;
  font-weight: 300;
}

.des-para{
  width: 70%;
  margin-top: -6rem;
}

.des-hr{
  opacity: 0.2;
  width: 70%;
}

.des-footer{
  display: flex;
  gap: 9rem;
  margin-top: 1rem;
}

.des-ft{
  display: flex;
  flex-direction: column-reverse;
}

.des-dis{
  width: 100%;
  font-size: 0.6rem;
}

.des-day, .des-km{
  width: 100%;
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  font-weight:500;
  color: var(--main-bg-color);
  
}